body {
  background-color: rgb(242, 238, 238);
}

input[type='number'] {
  border: 1px dotted #999;
  border-radius: 5;
}
.btn-new {
  margin-bottom: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #003cc5 0%,
    #0b63f6 51%,
    #003cc5 100%
  );
}

.btn-new:hover {
  background-position: right center;
}
.btn-news {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #003cc5 0%,
    #0b63f6 51%,
    #003cc5 100%
  );
}

.btn-news:hover {
  background-position: right center;
}

.btn-new-green {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #c4bbbe 0%,
    #c4bbbe 51%,
    #5d5e60 100%
  );
}

.btn-new:hover {
  background-position: right center;
}
.form {
  font-family: 'BlinkMacSystemFont';
  font-weight: 700;
  font-style: italic;
  max-width: 600px;
  min-width: 280px;
  margin: 0 auto;
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  color: black;
  background-color: white;
  cursor: pointer;
}
