body {
  background-color: rgba(237, 234, 234, 0.989);
}

input[type='number'] {
  border: 1px dotted #999;
  border-radius: 5;
  display: block;
  margin-bottom: 10px;
}
input[type='submit'] {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #003cc5 0%,
    #0b63f6 51%,
    #003cc5 100%
  );
}

input[type='submit']:hover {
  background-position: right center;
}
input[type='button'] {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #003cc5 0%,
    #0b63f6 51%,
    #003cc5 100%
  );
}

input[type='button']:hover {
  background-position: right center;
}

.form {
  font-family: 'BlinkMacSystemFont';
  font-weight: 700;
  font-style: italic;
  max-width: 600px;
  min-width: 280px;
  margin: 0 auto;
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  color: black;
  background-color: white;
  cursor: pointer;
}
canvas {
  border: 0.2px rgb(225, 217, 217);
}
